a{
    text-decoration: none;
}
.tabs{
    display: grid;
}
.tabs-title{
    margin: 0 auto;
}
.tabs-title-button.active{
    margin: 0;
    background-color:#f00; ;
    color: white;
    display: inline-block;
    padding: 10px;
    border: 1px solid pink;
}
.tabs-content-box{
    display: none;
}
.tabs-content-box-active{
    display: table;
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    text-align: center;
    border: 1px solid black;
    background-color: aqua;
}
